        body {
            background-color: #CCCCCC;
            margin: 0 auto;
        }
        
        #nav {
            width: 100%;
            height: 60px;
            background-color: #000000;
        }
        
        #main {
            height: 4220px;
            width: 1240px;
            margin: 0 auto;
            position: relative;
        }
        
        li {
            display: inline;
        }
        
        .nav1 {
            float: right;
            color: white;
        }
        
        a {
            color: white;
            text-decoration: none;
        }
        
        .main1 {
            position: relative;
            top: 30px;
            width: 1240px;
            height: 700px;
            background-color: white;
            text-align: center;
        }
        
        .main2 {
            position: relative;
            top: 60px;
            width: 1240px;
            height: 650px;
            background-color: white;
            text-align: center;
        }
        
        .main3 {
            position: relative;
            top: 90px;
            width: 1240px;
            height: 1500px;
            background-color: white;
            text-align: center;
        }
        
        .main4 {
            position: relative;
            top: 120px;
            width: 1240px;
            height: 520px;
            background-color: white;
            text-align: center;
        }
        
        .main5 {
            position: relative;
            top: 150px;
            width: 1240px;
            height: 600px;
            background-color: white;
            text-align: center;
            font-size: 25px;
        }
        
        #pic {
            width: 122px;
            height: 140px;
            border: 1px solid;
            text-align: center;
            font-weight: bold;
            margin: 18px 200px;
        }
        
        ul.a {
            list-style-type: decimal;
            display: block;
        }
        
        table {
            width: 100%;
        }
        
        th {
            height: 50px;
            background-color: green;
            color: white;
        }
        
        table,
        td,
        th {
            border: 1px solid green;
        }
        
        #footer {
            width: 100%;
            height: 60px;
            background-color: #000000;
            color: white;
            text-align: center;
        }